.outline-box {
    padding: .25rem;
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgb(228, 228, 231);
    cursor: pointer;
    border-radius: 6px;
}

.outline-box-active {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(0, 107, 230);
}